<div class="content-wrapper">
    <div class="content pure-g">
        <h2 class="content-head is-center pure-u-1-1">Cards</h2>
        <div *ngFor="let item of list" class="posts pure-u-1-1">
            <section class="post">
                <header class="post-header">
                    <h2 class="post-title">Card Header: {{item}}</h2>
                    <p class="post-meta">
                        By <a href="#" class="post-author">Card Sub-header</a>
                    </p>
                </header>
                <div class="post-description">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    </p>
                    <a href="http://www.flickr.com/photos/uberlife/8907351301/">
                        <img 
                            class="pure-img pure-u-1-2" style="padding: 1em"
                            src="http://farm8.staticflickr.com/7382/8907351301_bd7460cffb.jpg"/>
                            <img 
                            class="pure-img pure-u-1-2" style="padding: 1em"
                            src="http://farm8.staticflickr.com/7382/8907351301_bd7460cffb.jpg"/>
                    </a>
                </div>
            </section>
        </div>
    </div>
</div>
