<div class="content-wrapper">
    <div class="content pure-g">
        <h2 class="content-head is-center pure-u-1">REST Api Explorer</h2>
        <div class="pure-u-1">
            <form class="pure-form pure-form-stacked">
                <fieldset>
                    <label for="aligned-name">Base URL</label>
                    <input type="text" id="aligned-name" placeholder="Base URL" name="_baseurl" [(ngModel)]="baseurl" />
                    <label for="email">API Key</label>
                    <input id="email" type="email" placeholder="API Key" name="_apikey" [(ngModel)]="apikey">
                    <button type="submit" class="pure-button" (click)="get()">Get It!</button>
                </fieldset>
            </form>
        </div>
    </div>
    <div>
        <p> {{list|json}}</p> 
    </div>
</div>





