<div class="header">
  <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
      <p class="pure-menu-heading"> Navigation App </p>
      <ul class="pure-menu-list">
          <li class="pure-menu-item"> <a href="" class="pure-menu-link">Main Page</a></li>
          <li class="pure-menu-item"> <a href="localpersistence" class="pure-menu-link">Local DB</a></li>
          <li class="pure-menu-item"> <a href="remotepersistence" class="pure-menu-link">Remote DB</a></li>
          <li class="pure-menu-item"> <a href="restapi" class="pure-menu-link">RESTApi</a></li>
          <li class="pure-menu-item"> <a href="calculation" class="pure-menu-link">Calculation</a></li>
          <li class="pure-menu-item"> <a href="geolocmaps" class="pure-menu-link">Geolocation and Maps</a></li>
      </ul>
  </div>
</div>
<router-outlet></router-outlet>
